<footer class="page-footer #ffffff white z-depth-2">
  <div class="container">
  </div>
  <div class="footer-copyright">
    <div class="container">

    <a class="right" href="#!">More Links</a>
    </div>
  </div>
</footer>
