@import "materialize";

// MAIN

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F9F9F9;
}

main {
  flex: 1 0 auto;
}

// NAV

ul.right.hide-on-med-and-down a {
  color: black;
}

a.brand-logo.center {
  color: black;

  img {
    width: 2em;
  }
}

// TRAILS INDEX

#sub-nav {
  padding-top: 3em;
}

div.col.s8.offset-s2 {
  border: 1px solid #DADADA;
  background-color: white;
}
