@import "materialize";

// MAIN

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F9F9F9;
}

main {
  flex: 1 0 auto;
}

// NAV

ul.right.hide-on-med-and-down a {
  color: black;
}

a.brand-logo.center {
  color: black;

  img {
    width: 2em;
  }
}

i.mdi-navigation-menu {
  color: black;
}

i.material-icons.prefix {
  color: black;
}

// FOOTER

div.footer-copyright {
  background: white;
}

footer.page-footer {
  padding-top: 0;
}

// TRAIL INDEX

#sub-nav {
  padding-top: 3em;
}

div.col.s8.offset-s2 {
  border: 1px solid #DADADA;
  background-color: white;
}

// PROVINCE INDEX

div#main-province.container {
  padding-top: 4em;
}

div#main-province secondary.col.s5 {
  border: 1px solid #DADADA;
  background-color: white;
}
