<div id="main-province" class="container">
  <div class="row">
    <div class="col s7">
      <img id="Image-Maps-Com-image-maps-2016-06-10-121042" src="http://www.image-maps.com/m/private/0/mtj1mcor9tm0bftqo9q4jmupm6_asdf.png" border="0" width="493" height="600" orgWidth="493" orgHeight="600" usemap="#image-maps-2016-06-10-121042" alt="" />
      <map name="image-maps-2016-06-10-121042" id="ImageMapsCom-image-maps-2016-06-10-121042">
      <area shape="rect" coords="491,598,493,600" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_67809" />
      <area id="trace" alt="" title="Plantation Trace" href="/provinces/9/trails" shape="poly" coords="55,395,164,400,184,414,204,413,247,404,262,426,226,418,212,429,213,444,226,456,255,457,259,494,296,495,323,568,198,559,76,550,63,518,53,481" style="outline:none;" target="_self"     />
      <area id="coast" alt="" title="Georgia's Coast" href="/provinces/10/trails" shape="poly" coords="353,595,368,598,369,544,383,537,406,553,424,545,432,475,490,386,433,312,418,322,431,353,395,367,400,381,390,385,415,420,398,475,370,470,344,448,320,463,307,459,297,486,317,539,325,564" style="outline:none;" target="_self"     />
      <area id="pathways" alt="" title="Presidential Pathways" href="/provinces/5/trails" shape="poly" coords="57,395,166,398,188,410,197,410,203,352,175,352,174,325,150,300,150,262,138,261,139,237,149,237,149,223,128,217,115,232,68,234,62,207,35,204,58,314,73,351,58,370" style="outline:none;" target="_self"     />
      <area id="midlands" alt="" title="Magnolia Midlands" href="/provinces/8/trails" shape="poly" coords="204,404,200,352,235,319,271,296,298,311,331,334,329,346,343,347,359,319,375,310,383,308,397,268,418,255,433,310,415,322,427,356,395,370,397,378,389,385,394,392,407,421,419,423,399,470,370,471,363,456,347,445,336,457,325,461,315,457,304,457,303,478,292,488,267,492,263,477,256,465,256,456,236,454,229,453,218,441,220,426,227,421,235,431,246,433,258,433,261,430,267,428,267,421,267,417,266,416,258,414,258,409,251,408,244,402,225,409" style="outline:none;" target="_self"     />
      <area id="south" alt="" title="Classic South" href="/provinces/7/trails" shape="poly" coords="334,344,344,346,349,322,365,314,390,305,391,273,414,252,318,143,264,128,248,128,241,137,239,161,230,171,242,200,258,217,246,220,242,231,260,237,260,259,271,283,272,294,303,317,304,307" style="outline:none;" target="_self"     />
      <area id="heartland" alt="" title="Historic Heartland" href="/provinces/6/trails" shape="poly" coords="179,347,178,324,159,304,147,292,154,263,138,260,138,240,153,239,170,202,149,188,149,177,158,177,161,159,179,145,188,142,202,146,213,142,239,128,242,148,232,169,220,170,250,213,242,230,252,241,263,272,272,292,214,335,198,347" style="outline:none;" target="_self"     />
      <area id="moutains" alt="" title="Northeast Georgia Mountains" href="/provinces/3/trails" shape="poly" coords="190,141,176,121,160,111,155,122,141,116,132,64,157,33,154,20,148,6,260,4,230,40,255,58,279,74,302,110,312,132,268,126,249,125,238,131,202,142" style="outline:none;" target="_self"     />
      <area id="metro" alt="" title="Atlanta Metro" href="/provinces/4/trails" shape="poly" coords="71,230,113,229,126,216,154,220,174,202,150,186,147,180,184,141,179,120,161,111,156,125,140,112,127,111,122,124,90,122,92,166,72,165,72,187,88,184,62,208" style="outline:none;" target="_self"     />
      <area id="country" alt="" title="Historic High Country" href="/provinces/2/trails" shape="poly" coords="34,202,71,205,79,187,72,188,74,162,92,161,90,116,120,124,126,117,138,107,137,66,126,63,153,40,153,32,149,25,148,18,147,6,5,5" style="outline:none;" target="_self"     />
      </map>
    </div>

    <div id="main-province secondary" class="col s5 z-depth-2">
      <h5>xcursion</h5>
      <p>Run through the trails of Georgia's oldest city, Savannah</p>
      <p>Or hike to the highest peaks of Blue Ridge Mountains</p>
      <p>We keep it simple; provide brief descriptions so you're out in a flash</p>
      <p>Cross your next path</p>
    </div>
  </div>
</div>
